@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UserArea/Views/Shared/userlayout.cshtml";
}

<h2 class="my-4">All Invoice</h2>
<a href="/UserArea/Invoice/NewInvoice" class="btn btn-primary">Add New Invoice</a>